<launch>
  <node name="base_controller_fake" pkg="robot_fake" type="base_controller_fake" output="screen" />

<!--<node name="laserscan_fake" pkg="robot_fake" type="laserscan_fake" output="screen" />-->
  <!-- Map server -->
  <arg name="map_file" default="/home/ros/robocore/src/world_description/data/map/robocup2015_modi.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

<!--<arg name="initial_pose_x" default="0.0"/> --><!-- Use 17.0 for willow's map in simulation -->
 <!-- <arg name="initial_pose_y" default="0.0"/>--> <!-- Use 17.0 for willow's map in simulation -->
 <!-- <arg name="initial_pose_a" default="0.0"/>
  <include file="$(find bringup)/launch/includes/amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
    <arg name="use_map_topic" value="true"/>
  </include>-->

  <node name="tf_base_footprint2laser" pkg="tf" type="static_transform_publisher" args="0.2 0 0 0 0 0 base_footprint laser 20" output="screen" />
  <node name="tf_base_odom2map" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 odom map 20" output="screen" />
<!--  <include file="$(find ground_segmentation)/launch/tiny_obstacle_detect.launch"/>-->
  <include file="$(find bringup)/launch/includes/move_base_fake.launch.xml"/>
  <node name="sound_master" pkg="sound_play" type="soundplay_node.py" />
<!--  <include file="$(find bringup)/launch/gmap2.launch"/>-->
<!--  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bringup)/rviz/navigation.rviz" required="true" />-->
</launch>
